.article__list {
  padding: 24px;
}

.article__item {
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 22px 2PX #dedede;
  background: #fff;
  margin-bottom: 22px;
  overflow: hidden;
}

.article__list .article__item:nth-child(2n+1) .article__img {
  float: left;
}

.article__list .article__item:nth-child(2n+1) .article__info {
  float: right;
}

.article__list .article__item:nth-child(2n) .article__img {
  float: right;
}

.article__list .article__item:nth-child(2n) .article__info {
  float: left;
}

.article__img {
  width: 36%;
  height: 100%;
}

.article__info {
  width: 64%;
  height: 100%;
  padding: 30px;
  position: relative;
}

.article__title {
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  color: #444;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
}

.article__intro {
  font-size: 22px;
  color: #666;
  line-break: 30px;
  margin-top: 10px;
}

.article__bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  color: #7e7e7e;
  width: 88%;
}

.article__like {
  font-size: 24px;
  line-height: 1.5;
  padding-left: 30px;
  background: url('./images/like_icon_active.png') no-repeat left center;
  background-size: 26px 26px;
}