.album__content {
  display: flex;
  flex-wrap: wrap;
}

.album__item {
  width: 50%;
  padding: 30px;
  display: block;
}

.album__item-img {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  box-sizing: content-box;
}

.album__item img {
  display: block;
}

.album__item-title {
  font-size: 32px;
  line-height: 80px;
  color: #333;
  text-align: center;
}